<?xml version="1.0" encoding="UTF-8"?>
<server description="certification">

    <featureManager>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
                  host="*" />

    <applicationManager autoExpand="true"/>
    <quickStartSecurity userName="admin" userPassword="adminpwd"/>

    <webApplication location="certification-app.war" contextRoot="${app.context.root}"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>
</server>